# User-specific stuff
.idea/

*.iml
*.ipr
*.iws

# IntelliJ
out/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# Common working directory
run/
/world/session.lock
/logs/2021-10-30-1.log.gz
/logs/2024-08-22-1.log.gz
/logs/2024-08-22-2.log.gz
/logs/2024-08-22-3.log.gz
/logs/2024-08-24-1.log.gz
/logs/2024-08-24-2.log.gz
/logs/2024-08-24-3.log.gz
/logs/2024-08-24-4.log.gz
/logs/2024-08-24-5.log.gz
/logs/2024-08-24-6.log.gz
/logs/2024-08-24-7.log.gz
/logs/2024-08-24-8.log.gz
/libraries/com/google/code/gson/gson/2.2.2/_remote.repositories
/libraries/com/pusher/pusher-java-client/2.2.6/_remote.repositories
/libraries/org/codeartisans/codeartisans-parent/6/_remote.repositories
/libraries/org/codeartisans/org.json/20161124/_remote.repositories
/libraries/org/java-websocket/Java-WebSocket/1.5.1/_remote.repositories
/libraries/org/slf4j/slf4j-api/1.7.25/_remote.repositories
/libraries/org/slf4j/slf4j-parent/1.7.25/_remote.repositories
/libraries/org/sonatype/oss/oss-parent/7/_remote.repositories
/libraries/xyz/xenondevs/particle/1.6.6/_remote.repositories
/world/playerdata/b8f02182-0d18-3511-89d2-0d2c24deb7d7.dat
/world/playerdata/b8f02182-0d18-3511-89d2-0d2c24deb7d7.dat_old
/world/advancements/b8f02182-0d18-3511-89d2-0d2c24deb7d7.json
/world/stats/b8f02182-0d18-3511-89d2-0d2c24deb7d7.json
/banned-ips.json
/banned-players.json
/bukkit.yml
/libraries/org/codeartisans/codeartisans-parent/6/codeartisans-parent-6.pom
/libraries/org/codeartisans/codeartisans-parent/6/codeartisans-parent-6.pom.sha1
/commands.yml
/plugins/PluginMetrics/config.yml
/crash-reports/crash-2024-08-22_19.12.27-server.txt
/crash-reports/crash-2024-08-22_19.16.04-server.txt
/libraries/com/google/code/gson/gson/2.2.2/gson-2.2.2.jar.sha1
/libraries/com/google/code/gson/gson/2.2.2/gson-2.2.2.pom
/libraries/com/google/code/gson/gson/2.2.2/gson-2.2.2.pom.sha1
/help.yml
/libraries/org/java-websocket/Java-WebSocket/1.5.1/Java-WebSocket-1.5.1.jar.sha1
/libraries/org/java-websocket/Java-WebSocket/1.5.1/Java-WebSocket-1.5.1.pom
/libraries/org/java-websocket/Java-WebSocket/1.5.1/Java-WebSocket-1.5.1.pom.sha1
/world/level.dat
/world_nether/level.dat
/world_the_end/level.dat
/world/level.dat_old
/ops.json
/libraries/org/codeartisans/org.json/20161124/org.json-20161124.jar.sha1
/libraries/org/codeartisans/org.json/20161124/org.json-20161124.pom
/libraries/org/codeartisans/org.json/20161124/org.json-20161124.pom.sha1
/libraries/org/sonatype/oss/oss-parent/7/oss-parent-7.pom
/libraries/org/sonatype/oss/oss-parent/7/oss-parent-7.pom.sha1
/world/datapacks/bukkit/pack.mcmeta
/libraries/xyz/xenondevs/particle/1.6.6/particle-1.6.6.jar.sha1
/libraries/xyz/xenondevs/particle/1.6.6/particle-1.6.6.pom
/libraries/xyz/xenondevs/particle/1.6.6/particle-1.6.6.pom.sha1
/permissions.yml
/libraries/com/pusher/pusher-java-client/2.2.6/pusher-java-client-2.2.6.jar.sha1
/libraries/com/pusher/pusher-java-client/2.2.6/pusher-java-client-2.2.6.pom
/libraries/com/pusher/pusher-java-client/2.2.6/pusher-java-client-2.2.6.pom.sha1
/world/entities/r.0.0.mca
/world/poi/r.0.0.mca
/world/region/r.0.0.mca
/world/entities/r.0.-1.mca
/world/poi/r.0.-1.mca
/world/region/r.0.-1.mca
/world/entities/r.-1.0.mca
/world/poi/r.-1.0.mca
/world/region/r.-1.0.mca
/world_nether/DIM-1/region/r.-1.0.mca
/world_the_end/DIM1/region/r.-1.0.mca
/world/entities/r.-1.-1.mca
/world/poi/r.-1.-1.mca
/world/region/r.-1.-1.mca
/world_nether/DIM-1/region/r.-1.-1.mca
/world_the_end/DIM1/region/r.-1.-1.mca
/world/data/raids.dat
/world_nether/data/raids.dat
/world_nether/DIM-1/data/raids.dat
/world_the_end/data/raids.dat
/world_the_end/DIM1/data/raids_end.dat
/world/data/random_sequences.dat
/world_nether/data/random_sequences.dat
/world_the_end/data/random_sequences.dat
/world_nether/session.lock
/world_the_end/session.lock
/libraries/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.jar.sha1
/libraries/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.pom
/libraries/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.pom.sha1
/libraries/org/slf4j/slf4j-parent/1.7.25/slf4j-parent-1.7.25.pom
/libraries/org/slf4j/slf4j-parent/1.7.25/slf4j-parent-1.7.25.pom.sha1
/spigot.yml
/world/uid.dat
/world_nether/uid.dat
/world_the_end/uid.dat
/usercache.json
/whitelist.json
/world_nether/level.dat_old
/world_the_end/level.dat_old
/world_nether/DIM-1/entities/r.-1.0.mca
